@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700");
@import "reset";


body {
  line-height: 1;
  background: url("https://i.imgur.com/7Hg6ChU.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  text-align: center;
}

div {
  font-size: large;
  color: white;
}




